
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: auto;
}


/* Allow cursor on mobile */
@media (max-width: 768px) {
  * {
    cursor: auto;
  }
}



:root {
  /* Brand Colors */
  --color-primary: #6384AA;
  --color-primary-light: #C9D9E6;
  --color-primary-dark: #385785;

  /* Neutral */
  --color-bg-light: #F6F3E8;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Text */
  --color-text-main: #1f2937;
  --color-text-light: #e5e7eb;

  /* UI */
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --transition-fast: 0.25s ease;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


input,
button,
textarea,
select {
  font: inherit;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  border: none;
  font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: none;
  cursor: pointer;
}

.reveal {
  opacity: 0;
  transform: translateY(28px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
  will-change: transform, opacity;
}

.reveal.in-view {
  opacity: 1;
  transform: translateY(0);
}

.delay-1 { transition-delay: 0.1s; }
.delay-2 { transition-delay: 0.2s; }
.delay-3 { transition-delay: 0.35s; }
.delay-4 { transition-delay: 0.5s; }
.delay-5 { transition-delay: 0.65s; }
